{% extends 'base.html' %}
   {% load static %}
   {% block content %} 
              <div class="main-container">
            <section class="text-center height-50">
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-8">
                            <h1>Full-service Design &amp; Development</h1>
                            <p class="lead">
                                From a team of passionate creators working side-by-side with our partners to deliver engaging digital and physical campaigns.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable feature-large">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-6">
                            <img alt="Image" class="border--round box-shadow-wide" src="{% static 'img/education-1.jpg' %}" />
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="mt--2">
                                <h2>Graphic Design</h2>
                                <p class="lead">
                                    Launching an attractive and scalable website quickly and affordably is important for modern startups &mdash; Stack offers massive value without looking 'bargain-bin'.
                                </p>
                                <a href="#">Enquire Now &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable feature-large">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-6">
                            <img alt="Image" class="border--round box-shadow-wide" src="{% static 'img/inner-5.jpg' %}" />
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="mt--2">
                                <h2>Brand Marketing</h2>
                                <p class="lead">
                                    Launching an attractive and scalable website quickly and affordably is important for modern startups &mdash; Stack offers massive value without looking 'bargain-bin'.
                                </p>
                                <a href="#">Enquire Now &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable feature-large">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-6">
                            <img alt="Image" class="border--round box-shadow-wide" src="{% static 'img/inner-6.jpg' %}" />
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="mt--2">
                                <h2>Digital Development</h2>
                                <p class="lead">
                                    Launching an attractive and scalable website quickly and affordably is important for modern startups &mdash; Stack offers massive value without looking 'bargain-bin'.
                                </p>
                                <a href="#">Enquire Now &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="space--xs imagebg" data-gradient-bg='#4876BD,#5448BD,#8F48BD,#BD48B1'>
                <div class="container">
                    <div class="cta cta--horizontal text-center-xs row">
                        <div class="col-md-4">
                            <h4>Let's get you started</h4>
                        </div>
                        <div class="col-md-5">
                            <p class="lead">
                                Start building beautiful pages in your browser
                            </p>
                        </div>
                        <div class="col-md-3 text-right text-center-xs">
                            <a class="btn btn--primary type--uppercase" href="#">
                                <span class="btn__text">
                                    Contact Us
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <!--end of container-->
            </section>
           {% endblock %}