{% extends 'base.html' %}
   {% load static %}
   {% block content %} 
            <div class="main-container">
            <section class="text-center height-50">
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-8">
                            <h1>Full-service Design &amp; Development</h1>
                            <p class="lead">
                                From a team of passionate creators working side-by-side with our partners to deliver engaging digital and physical campaigns.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable switchable--switch">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="height-50 imagebg border--round box-shadow-wide" data-overlay="4">
                                <div class="background-image-holder">
                                    <img alt="background" src="{% static 'img/education-1.jpg' %}" />
                                </div>
                                <div class="pos-vertical-center col-md-6 boxed boxed--lg bg--none">
                                    <h2>Graphic Design</h2>
                                    <p class="lead">
                                        Stack offers a clean and contemporary to suit a range of purposes from corporate, tech startup, marketing site to digital storefront.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable switchable--switch">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="height-50 imagebg border--round box-shadow-wide" data-overlay="4">
                                <div class="background-image-holder">
                                    <img alt="background" src="{% static 'img/inner-5.jpg' %}" />
                                </div>
                                <div class="pos-vertical-center col-md-6 boxed boxed--lg bg--none">
                                    <h2>Brand Marketing</h2>
                                    <p class="lead">
                                        Stack offers a clean and contemporary to suit a range of purposes from corporate, tech startup, marketing site to digital storefront.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable switchable--switch">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="height-50 imagebg border--round box-shadow-wide" data-overlay="3">
                                <div class="background-image-holder">
                                    <img alt="background" src="{% static 'img/inner-6.jpg' %}" />
                                </div>
                                <div class="pos-vertical-center col-md-6 boxed boxed--lg bg--none">
                                    <h2>Digital Development</h2>
                                    <p class="lead">
                                        Stack offers a clean and contemporary to suit a range of purposes from corporate, tech startup, marketing site to digital storefront.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-lg-6">
                            <div class="cta">
                                <h2>Get your work done</h2>
                                <p class="lead">
                                    Support and a lifetime of free content and bug-fix updates.
                                </p>
                                <a class="btn btn--primary type--uppercase" href="#">
                                    <span class="btn__text">
                                        Contact Us
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
                      {% endblock %}